/* App.css */
@import "font-awesome/css/font-awesome.min.css";
* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bg-gradient: linear-gradient(to top left, rgb(29, 55, 60), rgb(42, 91, 94));
  --bg: rgb(0, 0, 0);
  --bg-nav-footer: linear-gradient(
    to bottom left,
    rgb(35, 78, 87),
    rgb(78, 135, 145)
  );
}
body {
  background-image: var(--bg-gradient);
  overflow-x: hidden;
}

main {
  font-family: sans-serif;
}
